body{
    background-color: black;
    text-align: center;
    vertical-align: center;
}

h1{
    color: white;
    font-size: 15vh;
    margin: 40vh auto auto;
}

h1.neon {
    animation: flash 1s infinite; /* アニメーションflashを1秒ごとに繰り返す */
}

@keyframes flash {
    0%, 100% {
        /* 明るく光るよう影を重ねる */
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    50% {
        /* 淡く光るよう影を重ねる */
        text-shadow: 0 0 10px #fff, 0 0 20px #fcfcfc, 0 0 30px #fcfcfc, 0 0 40px #fc00de;
    }
}